body {
   font-family : Verdana, Helvetica;
   font-size : 12px;
   color : #000099;
}

.dcmessage {
   font-family : Verdana, Helvetica;
   font-size : 12px;
   color : #000099;
}

a {
   color : #0000CC;
}

a:visited  {
   color : #000099;
}

a:active  {
   color : #0000FF;
}

a:hover  {
   color : #00FF00;
}

tr, td {
   font-family : Verdana, Helvetica;
   font-size : 12px;
   vertical-align : top;
}

th {
   font-family : Verdana, Helvetica;
   font-size : 12px;
   vertical-align : top;
   text-align : right;
}


.dctitle {
   font-family : Verdana, Helvetica;
   font-size : 14px;
   font-weight : bold;
   color : #000099;
   text-align: center;
}

.dcpagelink  {
   font-size : 10px;
   color : #000099;
   background-color: #FFFFFF;
   text-align : right;
   vertical-align : bottom;
}

.dcmenu {
   font-size : 10px;
   color : #000099;
   background-color: #FFFFFF;
}

.dcnavmenu, .dcoptionmenu {
   font-size : 10px;
   background-color: #EEEEEE;
   color : #000099;
}

.dcheading {
   font-size : 10px;
   color : #000099;
   font-weight : bold;
   background-color: #DDDDDD;
   text-align: left;
}

.dclite {
   font-size : 12px;
   color : #000099;
   background-color: #FFFFFF;
}

.dcdark {
   font-size : 12px;
   color : #000099;
   background-color: #EEEEEE;
}

.dcfooter  {
   color : #000099;
   background-color: #FFFFFF;
   font-size : 10px;
   text-align: right;
}

.dclink  {
   font-size : 12px;
   font-weight : bold;
}

.dccaption  {
   color : #000099;
   font-size : 10px;
}

.dcinfo  {
   color : #000099;
   font-size : 10px;
}

.dcdate  {
   color : #000066;
   font-size : 10px;
}

.dcmisc  {
   color : #000099;
   font-size : 10px;
}

.dcerrortitle {
   font-size : 20px;
   font-weight : bold;
}

.dcerrorsubject {
   font-size : 12px;
}

.dcinstsubject {
   font-size : 12px;
}

.dcnormal {
   font-size : 12px;
}

.dcbigger {
   font-size : 14px;
}

.dcsmall {
   font-size : 10px;
}

.dcsmallemp {
   color : #CC0000;
   font-size : 10px;
}

.dcemp {
   color : #CC0000;
}

.dcnote {
   color : #FF0000;
   font-style : italic;
   font-size : 12px;
   font-weight : normal;
}

.dcerror {
   font-size : 14px;
   font-weight : bold;
   color : #FF0000;
   text-align: center;
}

.dcsubtitle {
   font-size : 10px;
   font-weight : bold;
   color : #000099;
   text-align: center;
}

.dcplain  {
   font-family : Courier,helvetica;
   font-size : 12px;
   color : #000099;
}

.dcborder {
   background-color: #000099;
}

.dcbordernew {
   background-color: #000099;
}

.dcstrong {
   font-weight : bold;
}

.dcright {
   text-align : right;
}

.dcbottom {
   vertical-align : bottom;
}

.dcbottomleft {
   vertical-align : bottom;
   text-align : left;
}

.dcleft {
   text-align : left;
}

.dccenter {
   text-align : center;
}

.dctoc {
   font-family : Verdana, Helvetica;
   font-size : 10px;
   color : #000099;
}

.dctocmisc {
   font-family : Verdana, Helvetica;
   font-size : 10px;
   color : #000099;
}

.dctocsubject {
   font-family : Verdana, Helvetica;
   font-size : 10px;
}

.dcauthorlink {
   font-family : Verdana, Helvetica;
   font-size : 10px;
}

.dcquote {
   font-family : Verdana, Helvetica;
   width : 90%;
   font-size : 12px;
   font-style : italic;
   border-style : dotted;
   border-width : 1px;
   border-color : #000099;
   margin : 0px 0px 0px 0px;
   padding : 5px;
}

.dcquoteheader {
   font-family : Verdana, Helvetica;
   font-size : 12px;
   font-weight : bold;
   border-left-style : dotted;
   border-bottom-style : dotted;
   border-right-style : dotted;
   border-width : 1px;
   border-color : #000099;
   background-color : #DDDDDD;
   margin : -5px 0px 0px 0px;
   padding : 5px;
}

